/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:gray;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.jumbotron p {
    color: orange;
}

.removeQualificationButton {
    background-color: white;
    color: orange;
}
.Qualification, .CandidateInfo, .filters {
    margin-bottom: 3px;
    padding: 2px;
    border: 1px solid orange;
    border-radius: 5px;
}

.filters label {
    color: turquoise;
}


    .Qualification label, .CandidateInfo label {
        color: turquoise;
    }
#QualificationAdd, .btn-orange {
    margin: 2px;
    background-color: white;
    color: orange;
}
a:active, a:hover, td a {
    color: orange !important;
}


h1, h2, h4, h3, a, footer p, th {
    color: turquoise !important;
}

td, p, label, dd, dt {
    color: white;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
